@model Documaster.Model.Entities.ProjectTemplate
@{
    var projectId = ViewBag.ProjectId;
}
<div class="modal-dialog" style="width:750px;" id="deleteModal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                X
            </button>
            <h4 class="modal-title">Sterge cerinta</h4>
        </div>
        <div class="modal-body">

            <div>

                <div>
                    Esti sigur ca vrei sa stergi documentul cu numele <b>@Html.DisplayFor(x => x.Name)</b>?
                </div>
                <hr />
                @using (Html.BeginForm("Delete", "ProjectTemplate", FormMethod.Post, new { projectId}))
                {
                    @Html.HiddenFor(x=>x.ProjectId)
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sterge" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>



