@model IEnumerable<Documaster.Model.Entities.Template>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista sabloane</h4>

    <div class="displayContent">
        <p>
            @Html.ActionLink("Sablon nou", "Create")
        </p>
        <table class="table" style="width: 100%"> 
            <tr>
                <th>
                    Nume
                </th>

                <th></th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new {id = item.Id})">
                            <span class="glyphicon glyphicon-pencil" title="Modifica"></span>
                        </a> |
                        <a href="@Url.Action("Delete", new {id = item.Id})">
                            <span class=" glyphicon glyphicon-trash" title="Sterge"></span>
                        </a>
                    </td>
                </tr>
                
            }
        </table>

    </div>