body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.documentLine input[type="file"] {
}

.uploadButton, .formInline {
    display: inline !important;
}

.uploadButton {
    visibility: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
    background-color: green;
}

/* include generated hidden field here */
input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*View cerinte*/
.row > p {
    font-weight: bold;
}

.row > label {
    font-weight: 500;
}

#fulfilledRequirementsTable #header {
    margin-bottom: 10px
}

#fulfilledRequirementsTable div.row div {
    padding: 0px;
}

    #fulfilledRequirementsTable div.row div.switch-column {
        padding: 0px !important;
    }

div.col-md-4 {
    padding-top: 10px;
}

#uploadedDocumentsTable .btn-group-vertical {
    margin-bottom: 10px;
}

.modal-body {
    padding: 15px !important;
}

button.close {
    margin-top: 5px !important;
}

.modal-header {
    padding: 10px !important;
}

/* Dropdown Settings*/
.navbar-brand a:hover {
    color: black;
}

.willExpire {
    background-color: pink;
}

.project-state {
    width: 15px;
    height: 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px 0 0 !important;
}

.project-state:after {
        content: " ";
        background-color: green;
        display: inline-block;
        visibility: visible;
        border-radius: 5px;
    }

    .project-state:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 5px;
    }

input[type='number'] {
    width: 70px !important;
}

.projectStatus {
    height: 20px;
    padding: 0px !important;
    margin-left: -14px;
    width: auto;
}

.setImageButton input[type="checkbox"] {
    visibility: hidden;
    position: absolute
}

    .setImageButton input[type="checkbox"]:checked {
        background-color: green
    }

label:checked{
    background-color: lightgreen
}

div.col-md-2.switch-column {
    padding-top: 6px;
}

