@model Documaster.Model.Entities.OutputDocument

@{
    var data = string.Format("data:{0};base64,{1}", Model.ContentType, Convert.ToBase64String(Model.DocumentData));
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                X
            </button>
            <h4 class="modal-title">Previzualizare document</h4>
        </div>
        <div class="modal-body">
            <object data="@data" type="@Model.ContentType" width="1450px" height="700px"></object>
        </div>
    </div>
</div>
