@model IEnumerable<Documaster.Business.Models.FileToUpdate>
@{
    ViewBag.Title = "Photos";
    var projectId = ( object ) ViewBag.ProjectId;
    var customizeTabId = (object)ViewBag.CustomizeTabId;
    var documentType = ( object ) ViewBag.DocumentType;
    var baseUrl = Url.Content("~");
}

<div id="uploadedDocumentsTable" class="container">
    <div class="documentLine btn-group-vertical">
        <input type="file" name="fileToUpload" id="uploadFileButton" style="display: none" />
        <button class="openFile pull-right btn btn-primary">Upload fisier</button>
    </div>
    
    @foreach (var photo in Model)
    {
        var href = baseUrl + "Requirement/DownloadDocument?documentId=" + photo.Id;
        <div class="documentLine row">
            <div class="col-md-4">
                <label>
                    @Html.DisplayFor(x => photo.FileName)
                </label>
            </div>
            <div class="col-md-4">
                <a class="deleteButton btn btn-danger btn-xs" onclick="deleteDocument (@photo.Id)" data-documentid="@photo.Id">Sterge</a>
                <a class="button btn btn-primary btn-xs" href=@href>Descarca</a>
                @Ajax.ActionLink("Vezi", "PreviewDocument", new { documentId = photo.Id }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myModal", OnSuccess = "showModalDialog()" }, new { @class = "button btn btn-info btn-xs" })
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var showModalDialog = function () {
        $("#myModal").modal("show");
    };
    $(document).ready(function () {
        var projectId = @projectId;
        var customizeTabId = @customizeTabId;
        $("input[type='file']").each (function (index, value) {
            var requirementId = $ (value).parent().find ("input[name='requirementId']").val();
            $ (value).change (function (element) {
                uploadFile (element, projectId, requirementId, customizeTabId);
            });
        });
        $(".openFile").each (function (index, value) {
            applyClickTransfer (value);
        });
    });
</script>