
@{
    ViewBag.Title = "CustomerProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = (object)ViewBag.ProjectId;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />

<h2>CustomerProject</h2>

<div id="tabs">
    <ul>
        <li><a href="">Foto</a></li>
        <li id="tab-2"><a href="@Url.Action("OutputDocuments","Requirement", new {projectId = projectId })">Avize</a></li>
        <li><a href="">Documente</a></li>
    </ul>
</div>
@section scripts{
    <script>
        $(function () {
            $("#tabs").tabs();
            
        });
    </script>
}