@{
    ViewBag.Title = "CustomerProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = (object)ViewBag.ProjectId;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />
<script src="~/Scripts/Documaster/ProjectDocument.js"></script>
<h2>CustomerProject</h2>

<div id="tabs">
    <ul>

        <li><a href="@Url.Action("OutputDocuments","Requirement", new {projectId = projectId })">Avize</a></li>
        <li><a href="@Url.Action("Photos","Requirement",new {projectId = projectId})">Foto</a></li>
        <li><a href="">Desene</a></li>
        <li><a href="">Note</a></li>
    </ul>
</div>
@section scripts{
    <script>
      
        $(document).ready(function () {
            //$('button.openFile').each(function (index, value) {
            //    $(value).on("click", function (event) {
            //        $(value).parent().find('input[type="file"]').trigger("click");
            //    });

            //});
            //$('input[type="file"]').each(function (index, value) {
            //    $(value).on("change", function () {
            //        $(value).parent().submit();
            //    });

            //});
            $("#tabs").tabs();
            $(".openfile").each(function (e) {
                applyClickTransfer(e);
            });
        });
    </script>
}