@model Documaster.Model.Entities.Requirement

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="displayContent">
    <h2>Sterge cerinta</h2>

    <h3>Esti sigur?</h3>
    <div>

        <hr />
        <div>
            Nume: <b>@Html.DisplayFor(x => x.Name)</b>
        </div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sterge" class="btn btn-default" /> |
                @Html.ActionLink("Inapoi la lista", "Index")
            </div>
        }
    </div>
</div>