@model Documaster.Model.Entities.ProjectStatus  
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Esti sigur?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nume status proiect
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-default" /> |
            @Html.ActionLink("Inapoi", "Index")
        </div>
    }
</div>
