
@{
                /**/

                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var fileName = (object)ViewBag.filename;
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryunobtrusive")
<script src="~/Scripts/Documaster/ScreenPhoto.js"></script>
<h3>Imagine prima pagina</h3>
@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBox("fileUpload", "", new { type = "file" })
    @*<div id="uploadedDocumentsTable" class="container">
        <div class="documentLine btn-group-vertical">
            <input type="file" name="fileToUpload" id="uploadFileButton" style="display: none" />
            <button class="openFile pull-right btn btn-primary">Upload fisier</button>
        </div>*@
    <input type="submit" value="Save image" />
    @*</div>*@
}

