@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/tabs.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryunobtrusive")
<script src="~/Scripts/Documaster/ScreenPhoto.js"></script>
<div class="displayContent">
    <h3>Incarca imagine pentru pagina de start</h3>

    @using (Html.BeginForm("Index", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBox("fileUpload", "", new { type = "file" })

        <br />
        <input type="submit" value="Save image" class="btn btn-primary" />
    }
    <br/>
    <div>
        @Html.ActionLink("Inapoi", "Index", "Project")
    </div>
</div>