@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="displayContent">
    <h2 style="text-align:center">Prezentare Software Documaster</h2>


    <br/>
    <p>Documaster este o aplicatie pentru gestionarea documentelor din proiectele de arhitectura. Aplicatia functioneaza in browser, fiind instalata pe un calculator in retea. ( Exista si Varianta Cloud )</p>
 <p>Adresa test: https://documasterdemo.azurewebsites.net/</p>

    <br /> <br/>
    <div>
        <h5>Ecran login</h5>
        <img src="~/Help Images/LoginPage.png" alt="Ecran login" style="width:50%;height:50%;" />
    </div>
    <br />
    <div>
        <h5>1. Panoul lista proiecte</h5> - se pot ordona alfabetic, cronologic
        <p>
            Starea proiectului este evidentiata cu o culoare ( rosu - urgent, verde - in lucru, alb- finalizat..
            se pot adauga si altele )
        </p>
        <p>Daca CU a expirat, randul proiectului este rosu.</p>
        <br />
        <img src="~/Help Images/ProjectsList.png" alt="Panoul lista proiecte" style="width:50%;height:50%;" />
    </div>
    <br />
    <div>
        <h5>2. Ecran lucrare noua</h5>
        <br />
        <img src="~/Help Images/AddProject.png" alt="Lucrare noua" style="width: 50%;height:50%" />
    </div>
    <br />
    <div>
        <h5>3. Dupa deschiderea unui proiect, in functie de Certificatul de urbanism, se completeaza cerintele acestuia, grupate pe categorii.</h5>
<br />
 <img src="~/Help Images/RequirementsList.png" alt="Cerinte proiect" style="width:50%;height:50%" />
    </div>
    <br />
    <div>
        <h5>4. Daca exista un tip de cerinta care nu se regaseste in cadrul proiectului atunci se poate adauga din setari aplicatie - Cerinte.</h5>
        <p>Ecran cu lista tuturor cerintelor.</p>
        <br />
        <img src="~/Help Images/Requirements.png" alt="Lista cerintelor" style="width:50%;height:50%" />
    </div>
    <br />
    <div>
        <h5>5. Ecran Categorii de cerinte</h5>
        <br />
        <img src="~/Help Images/CategoryList.png" alt="Categorii de cerinte" style="width:50%;height:50%;" />
    </div>
    <br />
    <div>
        <h5>6. Ecran managementul culori stare proiect.</h5>
        <br />
        <img src="~/Help Images/ProjectState.png" alt="Management culori stare proiect" style="width:50%;height:50%;" />
    </div>
    <br />
    <div>
        <h5>7. Sectiunea pentru incarcarea tuturor documentelor referitoare la proiect</h5>
        <br />
        <img src="~/Help Images/OutputDocuments.png" alt="Incarcare documente" style="width:50%;height:50%;" />
    </div>
</div>